<p>index page</p>
<h1>Landing Page</h1>
<p>todo...for Mario/Finn</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Offers</h1>
<div class="container card-container">
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
     <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title">Driving offer</h5>
        <p class="card-text">Offer describtion</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book drive</a>
      </div>
    </div>
</div>

<% @driving_offers.each do |offer| %>
  <p>Event address: <%= offer.event_address %></p>
  <p>Event name: <%= offer.event_address %></p>

<% end %>
