<div class="header">
<div class="banner">
  <div class="container">
    <h1><strong>My Designated Driver</strong></h1>
    <p>Drive, don't fly!</p>
  </div>
</div>

  <h1 class="font" style="margin-top: 50px;">Ride Offers</h1>
<div class="card-container">
  <% @driving_offers.each do |offer| %>
    <div class="card offer-card text-dark" style="width: 18rem;">
     <img class="avatar-large ava_space mb-2" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <h5><%= offer.name %></h5>
      <p><strong><%= image_tag 'cash-coin.svg' %></strong> <%= offer.price %> € </p>
       <%= link_to "Book drive", driving_offer_path(offer) , class: "btn btn-primary"%>
    </div>
<% end %>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
