<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Show / driving offer</h1>
<div class="card offer-card" class="cardstyle" style="width: 18rem;">
      <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h2 class="card-title">Driving offer</h2>
        <h3 class="card-text">Offer describtion</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Start time 01:00</li>
        <li class="list-group-item">End time 02:00</li>
        <li class="list-group-item">Price 25$</li>
        <li class="list-group-item">Qualification C</li>
        <li class="list-group-item">Experiences</li>
      </ul>

  <a href="#" class="stretched-link">Continue reading</a>
</body>
</html>
