.card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  }

  .offer-card {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .ava_space {
    margin-left: 15px;
    margin-top: 15px;
    height: 70px;
    width: 70px;
  }
