 body {
   background-color: rgb(7, 0, 58);
 }

.card {
  border: none;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 330px 0;
  width: 100%;

}

.banner h1 {
  margin: 0;
  color: #ff78b9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
  font-size: 46px;
  font-weight: bold;
}

.banner p {
  font-size: 32px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
  .container {

  }
  .card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
  }

  .offer-card {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .ava_space {
    margin-left: 15px;
    margin-top: 15px;
    height: 70px;
    width: 70px;
  }
  .header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .top_header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .slogan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 120, 185);
  }

  .btn-primary {
    background-color: rgb(255, 120, 185);
    border: none;

  }
