.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer {
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: #ff78b9;
  clear: both;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ff78b9;
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
